<div id="businesshours" class="tabcontainer">
  <div class="stepstitle slide-up-slow">
  <span class="number boxsize bhours"></span>
  <span class="name boxsize dis-inbl">Business Hours
     <span class="caption dis-block">Fill your basic business details.  You can fill the advanced details in setup page later.</span>
  </span>

</div>
<div class="setup-container boxsize slide-up">
   <div class="appointlist ">
    <div class="apply">Apply to all</div>
     <div class="appointtable list-row no-margin">
       <div class="appointtabcell">
         <label class="labels-container">
           
         </label>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl"> <span class="txttime">From</span></div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" >  </div>
         </div>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl "> <span class="txttime">To</span></div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" >  </div>
         </div>
       </div>
     </div>
     <div class="appointtable list-row">
       <div class="appointtabcell">
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked">
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>

            </div>

            <div class="appointtabcell chkboxContent ml20">
              Monday
            </div>
         </label>
       </div>
       <!-- <div class="appointtabcell days"> <span>Monday</span> </div> -->
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" list="browse"/>
           <datalist id="browse">
            <option>6.00</option>
            <option>6.30</option>
            <option>7.30</option>
            <option>8.00</option>
            <option>8.30</option>
            <option>9.00</option>
            <option>9.30</option>
            <option>10.00</option>
            <option>10.30</option>
           </datalist>
         </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
     </div>
     <div class="appointtable list-row">
       <div class="appointtabcell">
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked">
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>

            </div>

            <div class="appointtabcell chkboxContent ml20">
              Tuesday
            </div>
         </label>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
     </div>
     <div class="appointtable list-row">
       <div class="appointtabcell">
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked">
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>

            </div>

            <div class="appointtabcell chkboxContent ml20">
              Wednesday
            </div>
         </label>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
     </div>
     <div class="appointtable list-row">
       <div class="appointtabcell">
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked">
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>

            </div>

            <div class="appointtabcell chkboxContent ml20">
              Thursday
            </div>
         </label>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
     </div>
     <div class="appointtable list-row">
       <div class="appointtabcell">
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked">
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>

            </div>

            <div class="appointtabcell chkboxContent ml20">
              Friday
            </div>
         </label>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
     </div>
     <div class="appointtable list-row">
       <div class="appointtabcell">
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked">
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>

            </div>

            <div class="appointtabcell chkboxContent ml20">
              Saturday
            </div>
         </label>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
     </div>
     <div class="appointtable list-row">
       <div class="appointtabcell">
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked">
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>

            </div>

            <div class="appointtabcell chkboxContent ml20">
              Sunday
            </div>
         </label>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
       <div class="appointtabcell">
         <div class="dis-inbl fl fromtime"> <input placeholder="" class="txt-input" /> </div>
         <div class="dis-inbl fl">
           <div class="switch dis-inbl" {{action "switchbtn"}}> <span class="swap switcham showele">AM</span> <span class="swap switchpm">PM</span> </div>
         </div>
       </div>
     </div>
   </div>
 </div>
       </div>
