<div class="appoint-grid bg-color over">
    <div class="row">
       <div class="container">
           <div class="col-left dispinl fl boxsize">
              <div class="logo">
                <a href="javascript:void(0);" class="dispinl">
                 <span class="logoimg dispinl"></span>

                     <span class="logoname dispinl"> Appointment</span>
                </a>
              </div>
              <div class="setup-title">
                  <p class="welcome-name grey-color">Welcome Wilson,</p>
                  <h2 class="setup-name">
                      <span class="grd1">Setup your</span>
                       <span class="grd2">business</span>
                  </h2>
                  <p class="setup-content grey-color">
                     to start getting appointments Nam sit amet justo ut dui rutrum blandit. In purus augue.
                  </p>
              </div>
           </div>
           <div class="col-middle dispinl fl boxsize">

                 {{partial 'setup-wizard/binfo'}}
                 {{partial 'setup-wizard/bhours'}}
                 {{partial 'setup-wizard/service'}}
                 {{partial 'setup-wizard/staff'}}
           </div>
           <div class="col-right dispinl fl boxsize">
              <ul class="steplinks" {{action "pressed"}}>
                 <li data-tab="businessinfo" class="active">Business Info</li>
                 <li data-tab="businesshours">Business Hours</li>
                 <li data-tab="addservice">Add Services</li>
                 <li data-tab="addstaff">Add Staffs</li>

              </ul>
           </div>
       </div>
    </div>
</div>
{{outlet}}
